@import 'vars';
@import 'global';
@import 'fonts';
// HEADER STARE
.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-top {
    background-color: rgba(85, 85, 85, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-top__inner {
    @include m400;
    color: $white;
    padding: 15px 0;
    a,
    button {
        @include m400;
        color: $white;
    }
    div {
        display: flex;
        align-items: center;
    }
    .header-top__logo img {
        width: 200px;
    }
    .header-top__btn {
        display: flex;
        justify-content: flex-end;
    }
    .header-top__logo {
        animation-delay: 0.2s;
    }
    .header-top__phone {
        animation-delay: 0.4s;
    }
    .header-top__mail {
        animation-delay: 0.6s;
    }
    .header-top__btn {
        animation-delay: 0.8s;
    }
}

.header-main {
    padding-top: 200px;
    .header-main__inner {
        margin: 0 auto;
        text-align: center;
        color: $white;
        background-color: rgba(85, 85, 85, 0.5);
        max-width: 900px;
        position: relative;
        .header-main__none {
            position: absolute;
            color: transparent;
            font-size: 56px;
        }
        .header-main__title {
            @include m700;
            font-size: 48px;
            padding-top: 10px;
            margin-bottom: 20px;
        }
        .header-main__text {
            @include r400;
            font-size: 20px;
            margin-left: 150px;
            margin-right: 150px;
            padding-bottom: 20px;
        }
    }
    .header-main__btn {
        text-align: center;
        margin-top: 40px;
        a {
            text-align: center;
            @include m400;
            font-size: 20px;
            text-transform: uppercase;
            padding-left: 40px;
            padding-right: 40px;
            &:hover {
                color: $white;
            }
        }
    }
    .header-main__title {
        animation-delay: 0.2s;
    }
    .header-main__text {
        animation-delay: 0.4s;
    }
    .header-main__btn {
        animation-delay: 0.6s;
    }
}

// HEADER END
// SERVICES START
.services__inner {
    padding: 100px 0;
    text-align: center;
    .services__info {
        display: flex;
        margin-bottom: 60px;
        .services__info--text {
            width: 50%;
            text-align: left;
            margin-left: 15px;
            margin-right: 15px;
            @include r400;
            font-size: 16px;
        }
    }
    .services__items {
        display: flex;
        justify-content: space-between;
        .services__item {
            max-width: 350px;
            height: 100%;
            .services__item--img {
                width: 120px;
                height: 120px;
                margin: 0 auto;
                margin-bottom: 25px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                transition: 1s;
                cursor: pointer;
                &:hover {
                    transform: scale(1.2);
                }
            }
            .services__item--title {
                @include m400;
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 25px;
            }
            .services__item--text {
                @include r400;
                text-align: left;
                margin-left: 20px;
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// SERVICES END
// ABOUT START
.about {
    background-color: #e6e6e6;
}

.container {}

.about__inner {
    padding: 100px 0;
    text-align: center;
    .about__price-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        .about__price-item {
            width: 230px;
            .about__price-item--img {
                overflow: hidden;
                cursor: pointer;
                img {
                    width: 230px;
                    height: 240px;
                    margin-bottom: 15px;
                    transition: 1s;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
            .about__price-item--info {
                .about__price-item--title {
                    @include m700;
                    font-size: 14px;
                    margin-bottom: 10px;
                    animation-delay: 0.4s;
                }
                .about__price-item--price {
                    @include r400;
                    font-size: 16px;
                    margin-bottom: 10px;
                    animation-delay: 0.8s;
                    span {
                        @include r700;
                        font-size: 22px;
                        margin: 0 5px;
                        color: $red;
                    }
                }
            }
        }
    }
    .about__btn {
        animation-delay: 1.2s;
        .btn-danger {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

// ABOUT END
// GALLERY START
.gallery__inner {
    padding: 100px 0;
    text-align: center;
    .my-gallery {
        a {
            display: inline-block;
            position: relative;
            margin: 10px;
            transition: 1s;
            .my-gallery__hover {
                display: none;
                color: $white;
                .my-gallery__hover--title {
                    @include r400;
                    font-size: 18px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    padding: 0 10px;
                }
                .my-gallery__hover--text {
                    @include m400;
                    font-size: 14px;
                    margin-bottom: 25px;
                    padding: 0 10px;
                }
                .my-gallery__hover--btn {
                    margin: 0 auto;
                    @include r400;
                    font-size: 14px;
                    color: $red;
                    background-color: $white;
                    max-width: 150px;
                    padding: 10px 5px;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(192, 48, 28, .7);
                opacity: 0;
            }
            &:hover {
                transform: scale(1.05);
                .my-gallery__hover {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50px;
                }
            }
            &:hover:before,
            &:hover:after {
                opacity: 1;
            }
            img {
                width: 320px;
                height: 280px;
            }
        }
    }
}

// GALLERY END
// LIKE START
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .like {
        background-color: rgba(192, 48, 28, .8);
        .like__inner {
            padding: 70px 0 10px 0;
            text-align: center;
            color: $white;
            .like__title {}
            .like__text {}
        }
    }
}

// LIKE END
// CONTACTS START
.contacts__inner {
    padding: 100px 0;
    text-align: center;
    .contacts-block {
        display: flex;
        justify-content: space-between;
        .contacts__items {
            max-width: 270px;
            width: 100%;
            text-align: left;
            .contacts-block__item {
                margin-left: 25px;
                .contacts-block__title-map,
                .contacts-block__title-phone,
                .contacts-block__title-mail {
                    @include m400;
                    font-size: 14px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        background-repeat: no-repeat;
                        left: -25px;
                    }
                }
                .contacts-block__title-map {
                    &::before {
                        background-image: url(../images/logo-map.png);
                        background-size: 12px 17px;
                        width: 12px;
                        height: 17px;
                    }
                }
                .contacts-block__title-phone {
                    &::before {
                        background-image: url(../images/logo-phone.png);
                        background-size: 12px 20px;
                        width: 12px;
                        height: 20px;
                    }
                }
                .contacts-block__title-mail {
                    &::before {
                        background-image: url(../images/logo-mail.png);
                        background-size: 15px 11px;
                        width: 15px;
                        height: 11px;
                        top: 3px;
                    }
                }
                .contacts-block__text {
                    @include r400;
                    font-size: 12px;
                    margin-bottom: 30px;
                    & a {
                        @include r400;
                        font-size: 13px;
                        color: $gray;
                        display: block;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .contacts-form {
            max-width: 700px;
            width: 100%;
            .contact__form {
                input {
                    height: 45px;
                    width: 100%;
                    padding-left: 15px;
                    margin-bottom: 20px;
                    outline-color: $red;
                    color: $gray;
                    @include r400;
                    font-size: 12px;
                    border: 1px solid #555555;
                }
                .contact__form--name {
                    display: flex;
                    justify-content: space-between;
                    input {
                        height: 45px;
                        width: 48%;
                    }
                }
                textarea {
                    height: 80px;
                    width: 100%;
                    color: $gray;
                    @include r400;
                    font-size: 12px;
                    border: 1px solid $gray;
                    margin-bottom: 15px;
                    padding: 15px;
                    outline-color: $red;
                }
                button {
                    background-color: transparent;
                    border: 1px solid $gray;
                    padding: 10px 25px;
                    display: block;
                    margin-bottom: 20px;
                    transition: 1s;
                    position: relative;
                    &:hover {
                        background-color: $red;
                        border: 1px solid $gray;
                    }
                    &::after {
                        content: "* Всі поля є обов'язковими для заповнення. Зазвичай ми відповідаємо відразу.";
                        position: absolute;
                        @include m400;
                        font-size: 11px;
                        top: 0;
                        left: 200px;
                        width: 300px;
                        text-align: left;
                    }
                }
            }
        }
    }
}

// CONTACTS END
// FOOTER START
.footer {
    background-color: $red;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .footer__logo img {
        width: 200px;
    }
    .footer__info {
        text-align: right;
        color: $white;
        @include m400;
        font-size: 10px;
        a {
            color: $white;
        }
    }
}

// FOOTER END
@import 'media';