@import 'vars';
@import 'global';
@import 'fonts';
// HEADER STARE
.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-top {
    background-color: rgba(85, 85, 85, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-top__inner {
    @include m400;
    color: $white;
    padding: 15px 0;
    a,
    button {
        @include m400;
        color: $white;
    }
    div {
        display: flex;
        align-items: center;
        a:hover {
            color: $gray;
        }
    }
    .header-top__logo img {
        width: 200px;
    }
}

.header-main {
    padding-top: 250px;
    .header-main__inner {
        margin: 0 auto;
        text-align: center;
        color: $white;
        background-color: rgba(85, 85, 85, 0.5);
        max-width: 900px;
        .header-main__title {
            @include m700;
            font-size: 48px;
            padding-top: 10px;
            margin-bottom: 20px;
        }
        .header-main__text {
            @include r400;
            font-size: 20px;
            margin-left: 150px;
            margin-right: 150px;
            padding-bottom: 20px;
        }
    }
    .header-main__btn {
        text-align: center;
        margin-top: 40px;
        button {
            text-align: center;
            @include m400;
            font-size: 20px;
            text-transform: uppercase;
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

// HEADER END
// SERVICES START
.services__inner {
    padding: 100px 0;
    text-align: center;
    .services__items {
        display: flex;
        justify-content: space-between;
        .services__item {
            max-width: 350px;
            height: 100%;
            .services__item--img {
                width: 90px;
                height: 90px;
                margin: 0 auto;
                margin-bottom: 25px;
            }
            .services__item--title {
                @include m400;
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 25px;
            }
            .services__item--text {
                @include r400;
                text-align: left;
                margin-left: 20px;
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// SERVICES END
// ABOUT START
.about {
    background-color: #e6e6e6;
}

.container {}

.about__inner {
    padding: 100px 0;
    text-align: center;
    .about__info {
        display: flex;
        margin-bottom: 60px;
        .about__info--text {
            width: 50%;
            text-align: left;
            margin-left: 15px;
            margin-right: 15px;
            @include r400;
            font-size: 16px;
        }
    }
    .about__price-items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .about__price-item {
            width: 230px;
            .about__price-item--img {
                overflow: hidden;
                cursor: pointer;
                img {
                    width: 230px;
                    height: 240px;
                    margin-bottom: 15px;
                    transition: 1s;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
            .about__price-item--info {
                .about__price-item--title {
                    @include m700;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                .about__price-item--price {
                    @include r400;
                    font-size: 16px;
                    margin-bottom: 10px;
                    span {
                        @include r700;
                        font-size: 22px;
                        margin: 0 5px;
                        color: $red;
                    }
                }
            }
        }
    }
    .about__btn {
        .btn-danger {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

// ABOUT END
// GALLERY START
.gallery__inner {
    padding: 100px 0;
    text-align: center;
    .my-gallery {
        a {
            display: inline-block;
            position: relative;
            margin: 10px;
            transition: 1s;
            .my-gallery__hover {
                display: none;
                color: $white;
                .my-gallery__hover--title {
                    @include r400;
                    font-size: 18px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    padding: 0 10px;
                }
                .my-gallery__hover--text {
                    @include m400;
                    font-size: 14px;
                    margin-bottom: 25px;
                    padding: 0 10px;
                }
                .my-gallery__hover--btn {
                    margin: 0 auto;
                    @include r400;
                    font-size: 14px;
                    color: $red;
                    background-color: $white;
                    max-width: 150px;
                    padding: 10px 5px;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(192, 48, 28, .7);
                opacity: 0;
            }
            &:hover {
                transform: scale(1.05);
                .my-gallery__hover {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50px;
                }
            }
            &:hover:before,
            &:hover:after {
                opacity: 1;
            }
            img {
                width: 320px;
                height: 280px;
            }
        }
    }
}

// GALLERY END
// FOOTER START
.footer {
    background-color: $red;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .footer__logo img {
        width: 250px;
    }
    .footer__info {
        text-align: right;
        color: $white;
        @include m400;
        font-size: 12px;
        a {
            color: $white;
        }
    }
}

// FOOTER END
@import 'media';